<form [formGroup]="userForm">

  

  <div class="shape">

    @if(nameFormControl.value){
      <div class="name"> 
          <p class="mitarbeiter-name">{{nameFormControl.value}}</p>
      </div>
    }@else {
      <div class="name">
      Dein Mitarbeiter
    </div>
    }
      
    <div class="attributes">
      <label>
        Name:
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="name" matInput [formControl]="nameFormControl" [attr.maxlength]="maxlength">
           Aktuelle Länge: {{nameFormControl.value?.length}} / {{maxlength}}
          @if (nameFormControl.hasError('required')) {
            <mat-error>Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </label>
      <label>
        Geschlecht:
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="gender" required name="gender"> 
            <mat-option value="" disabled selected>Bitte wählen</mat-option>
            <mat-option value="Männlich">Männlich</mat-option>
            <mat-option value="Weiblich">Weiblich</mat-option>
            <mat-option value="Divers">Divers</mat-option>
          </mat-select>
          @if (((userForm.controls['gender']?.invalid && userForm.controls['gender']?.touched) || confirmed && userForm.controls['gender']?.invalid) ) {
            <mat-error>Gender is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </label>
      <br />
      <label>
        Geburtstag:
        <mat-form-field appearance="fill">
          <input
            [max]="today | date:'yyyy-MM-dd'"
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="birthday"
            name="dob"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      </label>
      <br />
      <label>
        Email:
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" [attr.maxlength]="maxlength">
           Aktuelle Länge: {{emailFormControl.value?.length}} / {{maxlength}}
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </label>
      <br />
      <label>
        Telefonnummer:
        <mat-form-field class="example-full-width">
          <mat-label>Telefonnummer</mat-label>
          <input type="number" matInput [formControl]="phonenNumberFormControl" [attr.maxlength]="maxlength">
           Aktuelle Länge: {{phonenNumberFormControl.value?.length}}
          @if (phonenNumberFormControl.hasError('required')) {
            <mat-error>Telefonnummer is <strong>required</strong></mat-error>
          }
        </mat-form-field>

      </label>
      <br />
      <label>
        Abteilung:
        <mat-form-field>
          <mat-select [(ngModel)]="department" required name="department"> 
            <mat-option value="" disabled selected>Bitte wählen</mat-option>
            <mat-option value="It">It</mat-option>
            <mat-option value="Ausbildung">Ausbildung</mat-option>
            <mat-option value="Kfm">Kfm</mat-option>
            <mat-option value="Pfm">Pfm</mat-option>
          </mat-select>
          @if ((userForm.controls['department']?.invalid && userForm.controls['department']?.touched) || confirmed && userForm.controls['department']?.invalid) {
            <div class="pflicht">
              Abteilung ist Pflichtfeld!
            </div>
          }
        </mat-form-field>
      </label>
      <br />
      <label>
        Ist Aktiv:
        <input class="input" [(ngModel)]="isActive" type="checkbox" name="istAktiv" />
      </label>
      <button class="onConfirm" (click)="onConfirm(userForm.value)">
        Bestätigen
      </button>
      <button class="onBreakUp" (click)="onBreakUp()">
        Abbrechen
      </button>
       <button class="onReset" (click)="onReset()">
        Zurücksetzen
      </button>
    </div>
  </div>
</form>
