<form #form="ngForm">
  <div class="shape">
   
    @if(name){
      <div class="name"> 
          {{name}}
      </div>
    }@else {
      <div class="name">
      Dein Mitarbeiter
    </div>
    }
      
    <div class="attributes">
      <label>
         Name:
        <input class="input" [(ngModel)]="name" required name="name"[attr.maxlength]="maxlength" />
        @if (((form.form.controls['name']?.invalid && form.form.controls['name']?.touched) || confirmed && form.form.controls['name']?.invalid) ) {
          <div class="pflicht" >
              Name ist ein Pflichtfeld!
          </div>
       }

      </label>
      <label>
        Geschlecht:
        <mat-form-field>
          <mat-select [(ngModel)]="gender" required name="gender"> 
            <mat-option value="" disabled selected>Bitte wählen</mat-option>
            <mat-option value="Männlich">Männlich</mat-option>
            <mat-option value="Weiblich">Weiblich</mat-option>
            <mat-option value="Divers">Divers</mat-option>
          </mat-select>
       </mat-form-field>
         @if (((form.form.controls['gender']?.invalid && form.form.controls['gender']?.touched) || confirmed && form.form.controls['gender']?.invalid) ) {
          <div class="pflicht">
              Geschlecht ist ein Pflichtfeld!
          </div>
       }
      </label>
      <br />
      <label>
        Geburtstags:
        <mat-form-field appearance="fill">
          <input
            [max]="today | date:'yyyy-MM-dd'"
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="birthday"
            name="dob"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      </label>
      <br />
      <label>
        Email:
      <input class="input" [(ngModel)]="email" type="email" name="email" required email [attr.maxlength]="maxlength" />
       @if ((form.form.controls['email']?.invalid && form.form.controls['email']?.touched) || confirmed && form.form.controls['email']?.invalid) {
          <div class="pflicht">
              Email ist ein Pflichtfeld!
          </div>
        }
        @if(email.length == maxlength){
           <div class="pflicht">
              Ihre Email ist zu lang!
          </div>
        }
      </label>
      <br />
      <label>
        Telefonnummer:
        <input class="input" [(ngModel)]="phoneNumber" required type="number" name="phoneNumber"/>
         @if ((form.form.controls['phoneNumber']?.invalid && form.form.controls['phoneNumber']?.touched)||confirmed && form.form.controls['phoneNumber']?.invalid) {
        <div class="pflicht">
            Telefonnummer ist ein Pflichtfeld!
        </div>
        }

      </label>
      <br />
      <label>
        Abteilung:
        <mat-form-field>
          <mat-select [(ngModel)]="department" required name="department"> 
            <mat-option value="" disabled selected>Bitte wählen</mat-option>
            <mat-option value="It">It</mat-option>
            <mat-option value="Ausbildung">Ausbildung</mat-option>
            <mat-option value="Kfm">Kfm</mat-option>
            <mat-option value="Pfm">Pfm</mat-option>
          </mat-select>
       </mat-form-field>
         @if ((form.form.controls['department']?.invalid && form.form.controls['department']?.touched) || confirmed && form.form.controls['department']?.invalid) {
          <div class="pflicht">
              Abteilung ist Pflichtfeld!
          </div>
       }
      </label>
      <br />
      <label>
        Ist Aktiv:
        <input class="input" [(ngModel)]="isActive" type="checkbox" name="istAktiv" />
      </label>
      <button class="onConfirm" (click)="onConfirm(form)">
        Bestätigen
      </button>
      <button class="onBreakUp" (click)="onBreakUp()">
        Abbrechen
      </button>
       <button class="onReset" (click)="onReset()">
        Zurücksetzen
      </button>
    </div>
  </div>
</form>
