<div>
  <div class="shape">
   
    @if(name){
      <div class="name"> 
          {{name}}
      </div>
    }@else {
      <div class="name">
      Dein Mitarbeiter
    </div>
    }
      
    <div class="attributes">
      <label>
         Name:
        <input class="input" [(ngModel)]="name" [attr.maxlength]="maxlength" />
        @if (!name) {
          <div class="pflicht" >
              Name ist ein Pflichtfeld!
          </div>
       }
       @if(name.length == maxlength){
           <div class="pflicht">
              Ihr Name ist zu lang!
          </div>
        }
      </label>
      <label>
        Geschlecht:
        <mat-form-field>
          <mat-select [(ngModel)]="gender"> 
            <mat-option value="" disabled selected>Bitte wählen</mat-option>
            <mat-option value="Männlich">Männlich</mat-option>
            <mat-option value="Weiblich">Weiblich</mat-option>
            <mat-option value="Divers">Divers</mat-option>
          </mat-select>
       </mat-form-field>
         @if (!gender) {
          <div class="pflicht">
              Geschlecht ist ein Pflichtfeld!
          </div>
       }
      </label>
      <br />
      <label>
        Geburtstags:
        <mat-form-field appearance="fill">
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="birthday"
            name="dob"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
       @if (birthday > today) {
          <div class="pflicht">
              Dein Geburtstag kann nicht in der Zukunft liegen!
          </div>
        }
      </label>
      <br />
      <label>
        Email:
      <input class="input" [(ngModel)]="email" type="email" name="email" pattern=".*@.*" [attr.maxlength]="maxlength" />
       @if (!email) {
          <div class="pflicht">
              Email ist ein Pflichtfeld!
          </div>
        }
        @if(!email.includes('@')){
           <div class="pflicht">
              Email muss ein '@' enthalten!
          </div>
        }
        @if(email.length == maxlength){
           <div class="pflicht">
              Ihre Email ist zu lang!
          </div>
        }
      </label>
      <br />
      <label>
        Telefonnummer:
        <input class="input" [(ngModel)]="phoneNumber" type="number" name="telefonnummer"/>
         @if (!phoneNumber) {
        <div class="pflicht">
            Telefonnummer ist ein Pflichtfeld!
        </div>
        }

      </label>
      <br />
      <label>
        Abteilung:
        <mat-form-field>
          <mat-select [(ngModel)]="department"> 
            <mat-option value="" disabled selected>Bitte wählen</mat-option>
            <mat-option value="It">It</mat-option>
            <mat-option value="Ausbildung">Ausbildung</mat-option>
            <mat-option value="Kfm">Kfm</mat-option>
            <mat-option value="Pfm">Pfm</mat-option>
          </mat-select>
       </mat-form-field>
         @if (!department) {
          <div class="pflicht">
              Abteilung ist Pflichtfeld!
          </div>
       }
      </label>
      <br />
      <label>
        Ist Aktiv:
        <input class="input" [(ngModel)]="isActive" type="checkbox" name="istAktiv" />
      </label>
      <button class="onConfirm" (click)="onConfirm()">
        Bestätigen
      </button>
      <button class="onBreakUp" (click)="onBreakUp()">
        Abbrechen
      </button>
    </div>
  </div>
</div>
